@model IEnumerable<UserListResponse>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
          <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
         
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eposta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>

            </tr>
        }
    </tbody>
</table>